<% provide(:title, "About") %>
<h1>App Template</h1>
<p>
  This is the about page for my RoR template app. Learn more about Ruby on Rails at:
  <a href="http://rubyonrails.org/">RoR Template App Home</a>
</p>
