<% provide(:title, "Contact") %>
<h1>App Template</h1>
<p>
  This is the contact page for my RoR template app. Learn more about Ruby on Rails at:
  <a href="http://rubyonrails.org/">RubyOnRails.org</a>
</p>
