<footer class="footer">
  <small>
    C'mon and visit <a href="http://www.github.com/msausa">Michelle Sausa's Github</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://google.com/">Google</a></li>
    </ul>
  </nav>
</footer>
